* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
}
body{
  background-color: #340068;
}
main{
  display: flex;
  flex-direction: column;
  align-items: center;
}
main{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
}
.glass-card {
  width: 100%;
  height: fit-content;
  background: rgba(255, 255, 255, 0.432);
  backdrop-filter: blur(23px);
  -webkit-backdrop-filter: blur(23px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 
    0 2px 10px rgba(255, 196, 0, 0.418),
    inset 0 1px 0 rgba(255, 255, 255, 0.5),
    inset 0 -1px 0 rgba(255, 255, 255, 0.1);
  overflow: hidden;
}

.button1{
  background-color: #daa520;
  border-radius: 1rem;
  color: white;
  text-shadow: 1px 1px 2px black;
  font-size: .9rem;
  font-weight: 600;
  width: fit-content;
  height: fit-content;
  padding: .5rem 1rem;
  box-shadow: 1px 1px 3px black;
}