
/*Landing Section*/
.hero-section{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    width: 100%;
    height: 90vh;
    background-image: url(assets/images/hero1.jpg);
    background-position: top right;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
}
.overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    /*clip-path: polygon(0 0, 100% 0, 69% 100%, 0% 100%);*/
    z-index: 2;
    
}

.text-container{
    width: 100%;
    height: 70%;
    padding: 2rem;
    bottom: 0;
    border-radius: 0% 100% 0% 100% / 100% 38% 62% 0%; 
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    gap: 1rem;
}
.white-space1{
    width: 100%;
    height: 50%;
}
.text-container h1{
    font-size: 1.5rem;
    color: #340068;
}
.text-container p{
    font-size: .9rem;
}

/* Company Overview Section*/
.company-overview{
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 6rem 2rem;
    gap: 1rem;
}
.company-overview h2{
    color: white;
    font-size: 1.4rem;
    font-weight: 600;
}
.company-overview p{
    color: #ffffff80;
    font-size: .9rem;
}

/*Services Section*/
.services-section{
    border-radius: 2rem;
    width: 96%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 2rem;
}
.services-pic{
    width: 100%;
    height: 40%;
    background-image: url(assets/images/services1.png);
    background-repeat: no-repeat;
    background-size: contain;
} 
.services-section h2{
    font-size: 1.4rem;
    font-weight: 600;
    color: #340068;
}
.services-section p{
    font-size: .9rem;
    color: #00000099;
    margin: 1rem 0;
}
.services-section ul{
    padding: 0 2rem !important;
    margin: 0 !important;
}
.services-section ul li{
    font-size: 0.9rem;
    color: #00000099;
}
.services-section .button-container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

/*Safety and Compliance Section*/
.safety-section{
    width: 100%;
    height: fit-content;
    padding: 5rem 2rem;
}
.safety-section h2{
    font-size: 1.4rem;
    font-weight: 600;
    color: white;
}
.safety-section img{
    width: 100%;
    height: auto;
    margin: 1rem 0;
    border-radius: 1rem;
}
.safety-section p{
    font-size: .9rem;
    color: #ffffff80;
}
.safety-section ul{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}
.safety-section ul li{
    list-style: none;
    font-size: .9rem;
    color: #ffffff80;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    gap: .5rem;
}
.safety-section ul li i{
    font-size: 1.7rem;
    color: limegreen;
}
.safety-section .button1{
    margin: 5rem 0;
}